# --- فایل‌های کش و کامپایل شده پایتون ---
# این موارد به صورت خودکار توسط پایتون ساخته می‌شوند و نباید در گیت باشند.
__pycache__/
*.pyc
*.pyo
*.pyd


# --- پوشه‌ها و فایل‌های مربوط به محیط مجازی پایتون ---
# هر توسعه‌دهنده‌ای محیط مجازی خود را می‌سازد.
.env
.venv
env/
venv/


# --- فایل‌ها و پوشه‌های موقت ساخته شده توسط اسکریپت‌های ما ---
# این موارد در هر بار اجرای ربات ساخته و پاک می‌شوند.
temp_configs/
temp_singbox_config.json


# --- فایل‌های اجرایی و آرشیوهای دانلود شده ---
# این موارد باید توسط گیت‌هاب اکشن دانلود شوند، نه اینکه در خود مخزن ذخیره شوند.
sing-box
sing-box.tar.gz
sing-box-*/


# --- پوشه‌های مربوط به ویرایشگرهای کد (IDE) ---
# این موارد مربوط به تنظیمات شخصی شما هستند.
.vscode/
.idea/
